* {
    padding: 0;
    margin: 0;
}

footer{
    position: relative;
    text-align: center;
    // position: fixed;
    // overflow: auto;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: lightgreen;
    color: lightyellow;
    width: 100%;
}

