// html,
// body {
//     height: 100%;
// }

p{
    color: red;
}

.active{
    // color: blueviolet;

    a{
        color: blueviolet;
    }
}

:host{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content{
    flex: 1 0 auto;
}