// html,
// body {
//     height: 100%;
// }

p{
    color: red;
}

.active{
    // color: blueviolet;

    a{
        color: blueviolet;
    }
}

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 748px;
}

