<div class="modal-header">
    <h4 class="modal-title pull-left">New Todo</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">



    <div class="app-new-todo">
        <form [formGroup]="newTodoForm">
            <div class="form-group">
                <input class="form-control"
                       [ngClass]="{'is-invalid': newTodoForm.get('title').dirty && isSubmit && newTodoForm.get('title').invalid,
                                   'is-valid':   newTodoForm.get('title').dirty && isSubmit && newTodoForm.get('title').valid }"
                       id="validationTextarea"
                       type="text"
                       placeholder="Todo Title"
                       formControlName="title"
                       required>

                <div *ngIf="isSubmit && newTodoForm.get('title').invalid"  class="text-danger">
                    <span *ngIf="newTodoForm.get('title').errors.required">
                        Input is required.</span>
                    <span *ngIf="newTodoForm.get('title').errors.minlength">
                        Input min length 3.</span>
                </div>
            </div>


            <div class="form-group">
                <textarea class="form-control" 
                          rows="5" 
                          placeholder="Todo Description" 
                          formControlName="description">
            </textarea>
            </div>

            <footer>
                <!-- <div class="col-6 form-group d-flex justify-content-end">
                    <div class="form-check form-check-inline">
                        <input type="radio"
                            value="low"
                            id="low"
                            name="todo-priority"
                            class="form-check-input priorityButtons">
                        <label for="low"
                            class="form-check-label d-flex align-items-center">
                            Low
                            <span class="material-icons  text-danger">
                                radio_button_unchecked
                            </span>
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio"
                            value="middle"
                            id="middle"
                            name="todo-priority"
                            class="form-check-input priorityButtons">
                        <label for="middle"
                            class="form-check-label d-flex align-items-center">
                            Middle
                            <span class="material-icons text-warning">
                                radio_button_unchecked
                            </span>
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio"
                            value="hight"
                            id="hight"
                            name="todo-priority"
                            class="form-check-input priorityButtons">
                        <label for="hight"
                            class="form-check-label d-flex align-items-center">
                            Hight
                            <span class="material-icons text-success">
                                radio_button_unchecked
                            </span>
                        </label>
                    </div> -->

                    <div class="col-6 form-group d-flex justify-content-end">
                        <div class="custom-control custom-radio custom-control-inline low">
                          <input
                            type="radio"
                            id="customRadioInline1"
                            name="priority"
                            class="custom-control-input"
                            formControlName="priority"
                            value="low" />
                          <label class="custom-control-label"
                                 for="customRadioInline1">
                                 Low</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline middle">
                          <input type="radio"
                                  id="customRadioInline2"
                                  name="priority"
                                  class="custom-control-input"
                                  formControlName="priority"
                                  value="middle" />
                          <label class="custom-control-label"
                                 for="customRadioInline2">
                                 Middle</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline hight p-r-20">
                          <input
                            type="radio"
                            id="customRadioInline3"
                            name="priority"
                            class="custom-control-input"
                            formControlName="priority"
                            value="hight" />
                          <label class="custom-control-label"
                                 for="customRadioInline3">
                                 Hight</label>
                        </div>
                        <button class="btn btn-primary ml-auto d-flex jusiify-content-between" 
                                (click)="onSubmit()">Save</button>
                    </div>
            </footer>
        </form>
    </div>
</div>






